<%- include("partials/header.ejs") %>

<section class="jumbotron mb-0 text-center">
  <h1>Welcome to my Games Blog!</h1>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row mx-auto">
      <% games.reverse().forEach(game => { %>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-4 shadow-sm">
          <img src="<%= game.screenshot %>" />
          <div class="card-body">
            <h5><%= game.title %></h5>
            <p class="card-text"><%= game.review.substring(0, 170) + "..." %></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/games/<%= game._id %>"><button type="button" class="btn btn-sm btn-outline-secondary">Read More</button></a>
              </div>
              <div id="postCreation">
                <small class="text-muted">
                  added <%= game.created.toLocaleDateString() %> at <%=game.created.getHours() + ":" + game.created.getMinutes() %>
                </small>
                <small class="text-muted">by <%= game.author %></small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
