<%- include("partials/header.ejs") %>


<div class="container pt-5">
    <div class="container pb-5 text-center">
        <img src="<%= game.screenshot %>">
    </div>
    <h2><%= game.title %></h2>
    <p><%= game.created.toLocaleDateString() %>,  <%=game.created.getHours() %>:<%= game.created.getMinutes() %>, <%= game.author %></p>
    <hr>
    <p><%= game.review %></p>
    <a style="margin-bottom: 75px;" href="/games" id="goBackLink"><button class="btn btn-outline-secondary">Go Back</button></a>
</div>



<%- include("partials/footer.ejs") %>