<%- include("partials/header.ejs") %>

<div class="container pt-5">
    <div class="container pb-5 text-center">
        <img src="<%= game.screenshot %>">
    </div>
    <h2><%= game.title %></h2>
    <p><%= game.created.toLocaleDateString() %>,  <%=game.created.toTimeString().substr(0,5) %>, <%= game.author %></p>
    <hr>
    <p><%= game.review %></p>
    <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger float-left">Delete</button>
    </form>
    <a href="/games" id="goBackLink"><button class="btn btn-outline-secondary">Go Back</button></a>
</div>

<%- include("partials/footer.ejs") %>